<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h1>Este es el listado de arboles</h1>
        <section th:replace="arbol/espacios :: botonesAgregar"/>  
        <section th:replace="arbol/espacios :: agregarArbol"/>  
        <section th:replace="arbol/espacios :: listadoArboles"/>  
         <footer th:replace="layout/plantilla :: footer"/>
            
       
    </body>
</html>
